:root {
    --swiper-theme-color: #B9FF66 !important;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 98% !important;
}

.swiper-button-next {
    right: 20%;
}
.swiper-button-prev {
    left: 20%;
}
